*{
  margin: 0;
  box-sizing: border-box;
}


body{
  font-family: 'roboto', sans-serif;
}

.container{
  margin: 0 auto;
}


.bg-blue{
  background-color: #000080;
}

header{
  background-color: #000080;
  padding-left: 10%;
  height: 100px;
}

.logo{
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
}

nav{
  display: inline-block;
  vertical-align: middle;
}

a{
  color: white;
  text-decoration: none;
  padding-right: 20px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

nav ul li{
  display: inline-block;
  list-style: none;
}

.btns{
  display: inline-block;
  margin-left: 70px;
  font-size: 10px;
}

.btn{
 margin-left: 6px;
}

a.btn{
 border: 2px solid white;
 padding-right: 13px;
 padding-left: 13px;
 padding-top: 5px;
 padding-bottom: 5px;
 border-radius: 5px;
}

button[type^='green']{
  background-color: green;
  border-radius: 5px;
  border: 0;
  color: white;
  font-family: 'roboto', sans-serif;
  font-size: 9px;
  text-transform: uppercase;
  padding: 8px;
}

.jumbo{
  padding-left: 10%;
  padding-top: 5%;
  height: 360px;
  background-position: 110%, 110%;
  background-size: 70%;
  background-repeat: no-repeat;
  background-image: url("img/background-header.png");

}

.jumbo-text{
  font-size: 20px;
  line-height: 1.5;
  color: white;
  width:45%;
  display: inline-block;
}

.jumbo-text button{
  margin-top: 20px;
  padding: 20px;
}

.bg-grey{
  width: 100%;
  height: 150px;
  background-color: #DCDCDC;
}

.bg-text{
  padding-top: 30px;
  line-height: 2;
  text-align: center;
  vertical-align: center;
}

.bg-text p{
  color: grey;
  font-weight: bold;
}

.row-1:after{
  content:'';
  clear: both;
  display: table;

}

.row-1{
 margin: 0 auto;
}

.col-1, .col-2, .col-3{
  float: left;
  width: 25%;
  padding-top: 50px;
  padding-left: 150px;
}
